<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django WEB</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="header-title">Hi, Welcome to my Django Website</h1>
    </header>
    <main class="main">
        <div class="main-box">
            <img class="main-img" src="{% static 'web/img/perrito.png' %}" alt="">
        </div>
    </main>
    <script src="{% static 'web/js/script.js' %}"></script>
</body>
</html>